* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header__aviso {
  text-align: center;
  font-size: 15px;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 160, 122, 0.659);
}

.navbar {
  border-top: 1px solid lightsalmon;
  border-bottom: 1px solid lightsalmon;
  text-transform: uppercase;
}

.navbar .navbar__img {
  margin-left: 40px;
  margin-right: 5px;
  width: 200px;
}

.navbar .navbar__item {
  font-size: 15px;
}

.navbar .navbar__item a:hover {
  background: rgba(128, 128, 128, 0.09);
}

.navbar .dropdown-menu {
  font-size: 15px;
}

.navbar .dropdown-menu a:hover {
  background: rgba(128, 128, 128, 0.09);
}

.main__fondo {
  background-image: url(./Img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 85%;
}

.main__fondo h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 540px) {
  .main__fondo h1 {
    font-size: 30px;
  }
}

.main__fondo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.main__fondo .main__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.main__fondo .main__boton a:hover {
  color: black;
}

.main__fondo .main__boton .main__boton {
  background-color: rgba(255, 160, 122, 0.652);
  color: white;
  font-weight: bold;
  width: 200px;
  height: 40px;
  font-size: 15px;
}

.main__fondo .main__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.main__fondo .main__redes img {
  width: 40px;
  margin-right: 10px;
}

.main__fondo .main__redes img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 1s;
  transition: 1s;
}

.seccion2 .seccion2__img1, .seccion2 .seccion2__img2, .seccion2 .seccion2__img3 {
  border-radius: 30%;
  padding: 50px;
}

.seccion2 .seccion2__parrafo {
  font-size: 15px;
}

.seccion3 {
  margin-top: 100px;
}

.seccion3 .seccion3__titulo {
  text-align: center;
  font-size: 50px;
}

.seccion3 .seccion3__nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.seccion3 .seccion3__parrafo {
  font-size: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.seccion3 .seccion3__img {
  width: 400px;
  opacity: 0.8;
}

@media screen and (max-width: 540px) {
  .seccion3 .seccion3__titulo {
    font-size: 30px;
  }
}

.seccion4 {
  margin-top: 50px;
  background-color: rgba(243, 121, 108, 0.302);
}

.seccion4 .seccion4__titulo {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.seccion4 .seccion4__comentario {
  margin-bottom: 50px;
}

.seccion4 .seccion4__datos {
  margin-top: 10px;
}

.seccion4 .seccion4__boton {
  margin-bottom: 10px;
}

.seccion4 .seccion4__boton .btn {
  background-color: salmon;
  font-weight: bolder;
}

.seccion4 .seccion4__boton .btn:hover {
  color: white;
}

@media screen and (max-width: 570px) {
  .seccion4 .seccion4__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  background-color: #a19791;
}

footer .footer__horarios {
  color: white;
  text-align: center;
}

footer .footer__horarios .footer__imagen {
  width: 25px;
}

footer h6 {
  font-size: 15px;
  font-style: italic;
  color: black;
}

.titulo__tienda, .titulo__presupuesto {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.grilla__productos {
  margin: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.grilla__productos .subgrilla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grilla__productos .producto__nombre {
  text-align: center;
  margin: 10px;
}

.grilla__productos .producto {
  margin-bottom: 50px;
}

.grilla__productos .producto .producto__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grilla__productos .producto .producto__boton .btn {
  margin-top: 10px;
  background-color: lightsalmon;
  font-size: 15px;
}

.grilla__productos .producto .producto__boton .btn:hover {
  color: white;
}

.grilla__productos .producto:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 2s;
  transition: 2s;
}

/* inicio presupuesto */
.fondo__presupuesto {
  background-color: lightsalmon;
  opacity: 80%;
}

.formulario__presupuesto {
  margin-top: 40px;
}

.formulario__presupuesto .form__email {
  margin-top: 10px;
}

.formulario__presupuesto .form__torta, .formulario__presupuesto .form__relleno {
  margin-top: 20px;
  font-size: 15px;
}
/*# sourceMappingURL=estilo.css.map */