*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$font-size1: 15px;
$font-size2: 30px;
$font-size3: 50px;
$color1: lightsalmon;
$color2: salmon;
$color3: white;
$color4: black;


header{

    .header__aviso{
        text-align: center;
        font-size: $font-size1;
        position: fixed;
        z-index: 1;
        background-color: rgba(255, 160, 122, 0.659);
    }
}

.navbar{
    
    border-top:1px solid $color1;
    border-bottom:1px solid $color1;
    text-transform: uppercase;
   

    .navbar__img{
        margin-left: 40px;
        margin-right: 5px;
        width: 200px;
    }
    .navbar__item {
        font-size: $font-size1;
        a:hover{
            background: rgba(128, 128, 128, 0.09);
            
            }
    }
    .dropdown-menu{
        font-size: $font-size1;
        a:hover{
            background: rgba(128, 128, 128, 0.09);
            
        }
    }

}

.main__fondo{

    background-image: url(./Img/macaronsfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 85%;
    
    h1{
        display: flex;
        justify-content: center;
        font-size:$font-size3;
        margin-bottom: 50px;
        @media screen and (max-width:540px) {
            font-size: $font-size2;
        }
    }
    p{
        
        text-align: center;
        font-size: $font-size2;
        margin-bottom: 50px;

    }
    .main__boton{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        a:hover{
            color: black;
        }
        .main__boton{
            background-color: rgba(255, 160, 122, 0.652);
            color: $color3;
            font-weight: bold;
            width: 200px;
            height: 40px;
            font-size: $font-size1;
        }
    }
    .main__redes{
        display: flex;
        justify-content: center;
        padding-bottom: 50px;

        img{
            width: 40px;
            margin-right: 10px;

                     
        }
        img:hover{
            transform: scale(1.2,1.2);
            transition: 1s;
        }

    }

}
.seccion__principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .seccion2 {
        position: relative;
        margin-left: 10px;
        display: inline;
        margin-bottom: 50px;
        margin-top: 50px;
      
      .image {
        width: 100%;
        height: auto;
      }
      
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:$color1;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        .text {
            color: $color3;
            text-decoration: none;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        .text:hover{
            color: $color4
        }
      }
      }
      .seccion2:hover .overlay {
        height: 100%;
      }
}


.seccion3{
    margin-top: 100px;

    .seccion3__titulo{
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
        font-size: $font-size3;
        
    }
    .seccion3__subtitulo{
        text-align: center;
        margin-bottom: 50px;


    }
    .tarjeta__aboutme{
       

        .flip__frente{
            display: flex;
            justify-content: center;
        }

        .foto__aboutme{
            width: 300px;
            
            
        }

        .flip__dorso{
            font-size: $font-size1;
            margin-top: 20px;
        }
    }

    }
    @media screen and (min-width:570px) {
        

        .tarjeta__aboutme{
            display: flex;
            justify-content: center;
        
            .flip__aboutme {
                background-color: transparent;
                width: 400px;
                height: 500px;
                perspective: 1000px;
                
            }
            
            .flip-box-inner {
                position: relative;
                width: 400px;
                height: 500px;
                text-align: center;
                transition: transform 1.5s;
                transform-style: preserve-3d;
            
            }
          
            .flip__aboutme:hover .flip-box-inner {
                transform: rotateY(180deg);
                
            }
          
            .flip__frente, .flip__dorso {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
          
            .flip__frente {
            
                .foto__aboutme{
                    width: 400px;
                    height: 500px;
                }
            }
          
            .flip__dorso {
                background-color: $color1;
                color: $color3;
                transform: rotateY(180deg);
                
            }
        }
    }


.seccion4{
    margin-top: 50px;
    background-color: $color1;
    
    .seccion4__titulo{
        font-size: $font-size3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
  
    }
    .seccion4__comentario{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .seccion4__datos{
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .seccion4__email{
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .seccion4__boton{
        margin-top: 10px;
        margin-bottom: 10px;
        .btn{
            border: 3px solid $color2;
            font-weight: bolder;
            color: $color4;
            
            
            
        }
        .btn:hover{
            color:$color3;
            background-color: $color2;
            
        }
    }
   

    @media screen and (max-width:570px) {
        
        .seccion4__form{
            justify-content: center;
        }

}
}

footer{
    background-color: rgba(180, 178, 178, 0.652);

    .footer__horarios{
        color: $color4;
        text-align: center;
        .footer__imagen{
            width: 25px;
        }
    }  
    
}
footer h6{
    font-size: $font-size1;
    font-style: italic;
    color:black;
}

// inicio tienda

.titulo__tienda{
    font-size: $font-size3;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    
}

.grilla__productos{
    margin: 50px;
    text-transform: uppercase;
    font-weight: bold;
    .subgrilla{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }
    .producto__nombre{
        text-align: center;
        margin: 10px;
    }
    .producto{
        margin-bottom: 50px;
        .producto__boton{
            display: flex;
            justify-content: center;
            .btn{
                margin-top: 10px;
                background-color: $color1;
                font-size: $font-size1;
            }
            .btn:hover{
                color:white;
                
            }
        }
    }
    .producto:hover{
        transform: scale(1.1,1.1);
        transition: 2s;
    }
 
}


/* inicio presupuesto */

.titulo__presupuesto{
    @extend .titulo__tienda;
    
    
}
.fondo__presupuesto{
    background-color: $color1;
    padding: 30px;
    

}
.formulario__presupuesto{
    $margin:20px;
    margin-top: $margin*2;

    .form__datos{
        margin-bottom: $margin;
    }

    .form__email{
        @extend .form__datos
    }
    .form__evento{
        @extend .form__datos
    }
    .form__torta{
        @extend .form__datos
        
    }
    .form__biscochuelo{
        @extend .form__datos
    }
    .form__rellenos{
        @extend .form__datos
    }
    .form__ejemplo{
        @extend .form__datos

    }
    .form__comentario{
        @extend .form__datos
    }
    .form__boton{
        @extend .form__datos;
        .btn{
            border: 3px solid $color2;
            color: $color4;
            
        }
        .btn:hover{
            color:$color3;
            background-color: $color2;
            
        }
    }

}